.aboutPage {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 2em;
    color: #333;
  }
  
  h2 {
    font-size: 1.5em;
    color: #555;
  }
  
  p {
    font-size: 1em;
    line-height: 1.5;
    color: #777;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #777;
  }
  
  li {
    margin-bottom: 5px;
  }